@import "../../mixins"; 

.project-cards {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;

  > .project-card {
    flex: 0 0 calc(100% - 2rem);
    margin: 1rem;

    @include bp(small) {
      flex: 0 0 calc(50% - 2rem);
    }
    @include bp(medium) {
      flex: 0 0 calc(33% - 2rem);
    }
    @include bp(large) {
      flex: 0 0 calc(25% - 2rem);
    }
  }
}